.vs
# Ignorar directorios de compilación
bin/
obj/
ref/
init/

# Ignorar archivos generados por Visual Studio
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

# Ignorar archivos de ensamblaje
*.dll
*.exe
*.pdb
*.cache
*.ilk
*.log
*.csv
*.sqlite
*.db

# Ignorar carpetas temporales
[Tt]emp/
[Ll]og/
[Bb]uild/
[Oo]ut/
PublishProfiles/

# Ignorar archivos de configuraciones locales
launchSettings.json

# Ignorar archivos de paquete NuGet
*.nupkg
*.snupkg
*.symbols.nupkg
.nuget/

# Ignorar archivos de configuración de paquetes
packages/
*.package
*.props
project.lock.json
project.fragment.lock.json

# Ignorar archivos de configuración del sistema operativo
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Ignorar carpetas de cache o temporales de otros entornos de desarrollo
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignorar archivos de entorno virtual de Python (si aplica)
.venv/
/appsettings.json
