.modal {
    color: white;
    background-color: #111827;
}

.modal-content {
    background-color: #2e2e2e;
    border-radius: 10px;
}

#subtitle {
    color: #D1D5D0;
}

.btn-primary, .btn-success {
    color: white;
}

    .btn-primary:hover {
        background-color: #2980b9;
    }

    .btn-success:hover {
        background-color: #27ae60;
    }

#selectFileButton {
    background-color: #145932;
    color: white;
}

input.form-control, select.form-select {
    background-color: #3e3e3e;
    border: none;
    color: white;
}

.form-control:focus, select.form-control:focus {
    background-color: #3e3e3e;
    border-color: #3498db;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
    color: white;
}

#fileName {
    color: #8e44ad;
}

.spinner-border {
    width: 1rem;
    height: 1rem;
}

/* Estilo del botón cuadrado para añadir playlist */
.add-playlist-btn {
    background-color: #0d6efd;
    border: none;
    color: white;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-left: 5px;
    font-size: 1.5rem;
}

    .add-playlist-btn:hover {
        background-color: #0a58ca;
    }
