<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ReproductorDeMusica</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ReproductorDeMusica.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="navbar">
        <div class="logo">
            <a href="/Home/Index" class="logo-link">
                <img src="/images/logo.png" alt="Artista 1" class="logo-img">
            </a>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="¿Qué quieres reproducir?">
            <button class="search-btn">🔍</button>
        </div>
        <div class="contenedor-botones">
            @if (ViewBag.EstaLoggeado != null && ViewBag.EstaLoggeado == true)
            {
                <span>Bienvenido, @ViewBag.NombreUsuario</span>
                <a href="/Usuario/Logout"><button class="btn-principal">Cerrar Sesion</button></a>
            }
            else
            {
                <a href="/Usuario/RegistrarUsuario"><button class="btn-principal">Registrarse</button></a>
                <a href="/Usuario/Login"><button class="btn-principal">Iniciar Sesion</button></a>
            }
        </div>


    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - ReproductorDeMusica - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
