<div id="reproductor" class="reproductor-container">
    <audio id="audioPlayer" controls>
        <source id="audioSource" src="" type="audio/mpeg">
        Tu navegador no soporta la reproducción de audio.
    </audio>
</div>
