@model List<ReproductorDeMusica.Entidades.Entidades.Cancion>

@if (Model != null && Model.Any())
{
    <ul class="list-group">
        @foreach (var cancion in Model)
        {
            <li class="list-group-item">
                <strong>@cancion.Titulo</strong> - @cancion.Artista
                <button class="btn btn-primary btn-sm btn-reproducir"
                        data-ruta-audio="@cancion.RutaAudio">
                    ▶️
                </button>
            </li>
        }
    </ul>
}
else
{
    <p>No se encontraron resultados.</p>
}
