.titulo_registroUsuario{
    text-align: center;
}

.botones{
    display:flex;
    justify-content:center;
}

input[type="file"]{
    display: none;
}

#selectFileButton {
    background-color: #145932;
    color: white;
}

#imageFileName {
    color: #fff;
}

.btn-primary, .btn-success {
    color: white;
}

    .btn-primary:hover {
        background-color: #2980b9;
    }

    .btn-success:hover {
        background-color: #27ae60;
    }