<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/Plan.css" asp-append-version="true">
    <title>Plan</title>
</head>
<body class="container">
    <header class="header">
        <div>
            <h1>Ripple</h1>
        </div>
        <div>
            <form action="#">
                <input type="text" class="header_buscador">
                <button type="submit" class="header_buscador_boton"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
        <div>
            <a href="#" class="header_perfil">
                <img src="https://media.gq.com.mx/photos/609c0fdeee4372271f0b9056/1:1/w_2000,h_2000,c_limit/salir%20guapo%20en%20fotos-605380757.jpg" alt="perfil">
            </a>
        </div>
    </header>
    <main class="main">
        <div class="plan_card">
            <h1>Plan Free</h1>
            <p class="precio">$0</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae possimus aspernatur tempora maxime non mollitia blanditiis nulla? Aspernatur, recusandae atque!</p>
           
            <a asp-controller="Pago" asp-action="Index" asp-route-planId="1" class="submit-btn">Lo quiero ya!</a>
        </div>

        <div class="plan_card">
            <h1>Plan Premium</h1>
            <p class="precio">$100</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae possimus aspernatur tempora maxime non mollitia blanditiis nulla? Aspernatur, recusandae atque!</p>
            <a asp-controller="Pago" asp-action="Index" asp-route-planId="2" class="submit-btn">Lo quiero ya!</a>
        </div>

    </main>
</body>
</html>