@{
    ViewData["Title"] = "Home";
}
@* <div class="container">
@if (ViewBag.EstaLoggeado != null && ViewBag.EstaLoggeado == true)
{
    <div id="reproductorContainer" class="mt-auto">
        <partial name="_CancionesPartial" />
    </div>
}
</div> *@
