@model ReproductorDeMusica.Web.Models.HomeViewModel
@{
    ViewData["Title"] = "Home";
}
@* <header class="navbar">
    <div class="logo">
        <a href="/Home/Index" class="logo-link">
            <img src="/images/logo.png" alt="Artista 1" class="logo-img">
        </a>
    </div> *@
@*     @if (ViewBag.EsFormulario == null || ViewBag.EsFormulario == false)
    {
        @if (ViewBag.EstaLoggeado != null && ViewBag.EstaLoggeado == true)
        {
            <div class="search-bar">
                <form id="searchForm" action="/Cancion/Buscar" method="GET">
                    <input type="text" name="titulo" placeholder="¿Qué quieres reproducir?" required>
                    <button type="submit" class="search-btn">🔍</button>
                </form>
                <div id="resultadosBusqueda" style="display: none; border: 1px solid #ccc; max-height: 200px; overflow-y: auto;"></div>
            </div>
            <div class="contenedor-botones">
                <span class="mensajeBienvenida">Bienvenido, @ViewBag.NombreUsuario</span>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-bars"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="/Usuario/Cuenta">Cuenta</a></li>
                        <li><a class="dropdown-item" href="/Usuario/Logout">Cerrar Sesión</a></li>
                    </ul>
                </div>
            </div>
        }
        else
        {
            <div class="contenedor-botones">
                <a href="/Usuario/RegistrarUsuario"><button class="btn-principal">Registrarse</button></a>
                <a href="/Usuario/Login"><button class="btn-principal">Iniciar Sesion</button></a>
            </div>
        }
    }
</header> *@

@* @if (ViewBag.EsFormulario == null || ViewBag.EsFormulario == false)
{
    <aside class="sidebar">
        <h2>Tu bibliotecas</h2>
        <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <form action="/ListaReproduccion/Index" method="GET">
                            <input type="hidden" name="usuarioId" value=4 />
                            <button type="submit" class="btn btn-primary">Ver Mis Playlists</button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
    </aside> *@
