@model ReproductorDeMusica.Web.Models.HomeViewModel
@{
    ViewData["Title"] = "Home";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interfaz de Música</title>
    <link rel="stylesheet" href="~/css/Home/Home.css">
</head>

<body>
    <div class="main-container">

        <div class="text-center d-flex flex-column">
            <h1 class="display-3">Bienvenido/a </h1>
            <p>Explora nuestras playlists y encuentra tu música favorita</p>
    </div>

    <!-- Imagen con frase -->
    <div class="image-with-phrase">
        <img src="~/images/home-background.jpg" alt="Imagen de fondo" class="background-image" />
        <p class="phrase">"La música es el lenguaje del alma"</p>
    </div>
        <!-- Los datos deberian cargarse con el JS con una llamada a AJAX-->

        <div class="spotify-playlists">

            <div class="list">
                <div class="item">
                    <h8 >Subi tus canciones favoritas! </h8>
                    <img src="/images/Shakira.jpg" />
                    <div class="play">
                        <span class="fa fa-play"></span> <!-- Agregar link para que redirija a la playlist-->
                    </div>
                  
                </div>
            </div>

        </div>

    </div>

    <script src="/js/site.js"></script>
</body>
