@model ReproductorDeMusica.Web.Models.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interfaz de Música</title>
    <link rel="stylesheet" href="~/css/Home/Home.css">
</head>

<body>
    <div class="main-container">

        <!-- Los datos deberian cargarse con el JS con una llamada a AJAX-->

        <div class="spotify-playlists">

            <div class="list">
                <div class="item">
                    <img src="/images/Shakira.jpg" />
                    <div class="play">
                        <span class="fa fa-play"></span> <!-- Agregar link para que redirija a la playlist-->
                    </div>
                    <h4 class="fw-bold">Título de la playlist</h4>
                </div>
            </div>

        </div>

    </div>

    <script src="/js/site.js"></script>
</body>
