.contenedor-icono-imagen {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.icono-delante {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.table-container {
    max-height: 485px;
    overflow-y: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

    .table thead th {
    }

