@model ReproductorDeMusica.Web.Models.UsuarioViewModel
<link rel="stylesheet" href="~/css/Cuenta.css">

<div class="contenedor-pagina" id="body_cuenta">
<h2>Cuenta de @Model.NombreUsuario</h2>
<p>Nombre: @Model.Nombre</p>
<p>Apellido: @Model.Apellido</p>
<p>Email: @Model.Email</p>
</div>
<!-- Otros atributos que desees mostrar -->
