@model ReproductorDeMusica.Web.Models.UsuarioViewModel

<h2>Cuenta de @Model.NombreUsuario</h2>
<p>Nombre: @Model.Nombre</p>
<p>Apellido: @Model.Apellido</p>
<p>Email: @Model.Email</p>
<!-- Otros atributos que desees mostrar -->
