@model ReproductorDeMusica.Web.Models.LoginViewModel
<link rel="stylesheet" href="~/css/Usuario/Login.css">

<div class="main_login">
    <h1 class="titulo_login">Iniciar Sesión</h1>

    <form asp-action="Login" method="post" class="fondo-form">
        <section class="formulario">

            <div class="form-group mb-3">
                <label asp-for="NombreUsuario" class="form-label fw-bold">Nombre de Usuario</label>
                <input asp-for="NombreUsuario" class="form-control" placeholder="Ingrese su nombre de usuario" />
                <span asp-validation-for="NombreUsuario" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Contrasenia" class="form-label fw-bold">Contraseña</label>
                <div class="input-container">
                    <input asp-for="Contrasenia" type="password" id="passwordInput" class="form-control" placeholder="Ingrese su contraseña" />
                        <i id="passwordIcon" class="fa-solid fa-eye-slash"></i>
                </div>
                <span asp-validation-for="Contrasenia" class="text-danger"></span>
            </div>

            <div class="text-danger">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>

            <section class="botones">
                <button type="submit" id="boton_Login" class="btn-login">Iniciar Sesión</button>
                <a asp-action="Index" asp-controller="Autenticacion" class="btn-login">Loguearse con Hotmail</a>
            </section>
            <section class="redirigir-register">
                <p class="text-center"> ¿No tienes cuenta? <a href="/Usuario/RegistrarUsuario" class="text-decoration-underline">Regístrate aquí</a> </p>
            </section>
        </section>
    </form>
</div>

                <script src="~/js/Usuario/Login.js"> </script>